
.loginsign {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%; /* Move the card to the center of the container */
    left: 50%; /* Move the card to the center of the container */
    transform: translate(-50%, -50%); /* Adjust the position to center the card */
}

.parent-container  {
        position: relative;
        height: 100vh; /* Full viewport height */
        width: 100vw;  /* Full viewport width */
        background-size: cover; /* Ensure the background image covers the entire area */
        background-position: center; /* Center the background image */
    }

